{% extends "base.html" %}
{% block content %}
    
	
	<div class="mx-auto" style="width: 1000px;">
		
	<h1>Telefonbuch</h1>	
	
	{% for table in tables %}
        {{ table|safe }}
    {% endfor %}
	
	</div>
	

{% endblock content %}